<section class="groups">
    <h2 class="groups__title">Проект «Код будущего» </h2>
    <p class="groups__description">
        «Код будущего»: обучение программированию для школьников 8-11 классов на бесплатных курсах вы получите
    </p>
    <div class="groups__items">
            <div class="groups__item">
                <i class="bi bi-ui-checks"></i>
                <p>Получите сертификат подтверждающий ваш профессионализм</p>
            </div>
            <div class="groups__item">
                <i class="bi bi-collection"></i>
                <p>Сделаете 3 собственных проекта</p>
            </div>
            <div class="groups__item">
                <i class="bi bi-bar-chart-line-fill"></i>
                <p>Научитесь программировать и подготовитесь к ЕГЭ</p>
            </div>
        </div>
</section>