{% load static %}

<section class="introduction">
    <div class="introduction__block">
    <div class="introduction__content">
        <h1 class="introduction__content-title">
            Код будущего на базе СОШ  №2 с.Автуры 
        </h1>
        <p class="introduction__content-description">
            Годовой курс по программированию на Python для учеников 8-11 классов
            Освойте профессию будущего с нуля на бюджете с поддержкой государства
        </p>

        <div class="introduction__content-group">
            <button type="button" class="btn btn-des">
                Подробнее
                <i class="bi bi-arrow-down-circle-fill"></i>
            </button>
            <a href="https://www.gosuslugi.ru/futurecode" target="__blank" class="btn btn-zap">
                Записаться
                <i class="bi bi-check-circle-fill"></i>
            </a>
        </div>
    </div>
    <div class="introduction__img">
        <img src="{% static 'img/bes.png' %}" alt="IT">
    </div>
</div>
</section>