{% load static %}

<section class="introduction">
    <div class="introduction__block">
    <div class="introduction__content">
        <h1 class="introduction__content-title">
            Передовая кибербезопасность для любой компании
        </h1>
        <p class="introduction__content-description">
            Защитите ваш бизнес от всех видов киберугроз с помощью решений мирового класса.
        </p>
        <button type="button" class="btn btn-des">
            Подробнее
            <i class="bi bi-arrow-down-circle-fill"></i>
        </button>
    </div>
    <div class="introduction__img">
        <img src="{% static 'img/bes.png' %}" alt="IT">
    </div>
</div>
</section>